[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
automodinit = "~=0.16"
fastapi = "*"
uvicorn = "*"
uplink = "*"

[dev-packages]

[requires]
python_version = "3.11"
